<br />
<br />
<div class="container">
    <br />
    <img src="~/images/faleconosco1.jpg" alt="Fale conosco" />
    <div class="jumbotron">
        <h2>Queremos ouvir o que você tem a dizer</h2>
        <p>
            Se você tiver alguma dúvida ou sugestão fale conosco
        </p>
        <p>
            <span class="glyphicon glyphicon-envelope"></span>
            <email endereco="walsirujo@gmail.com" conteudo="Enviar um e-mail"></email>
            <br />
            <span class="glyphicon glyphicon-phone"></span>
            (11) 9874-5566
            <br />
            <span class="glyphicon glyphicon-home"></span>
            Av. Juscelino Kubichek 1000 - 03540-550 - São Paulo
        </p>
    </div>
</div>




