
<div class="col-lg-4 col-xl-4 col-md-4 col-sm-4 ">
    <div class="img-thumbnail">
        <img src="@Model.ImagemThumbnailUrl" class="rounded" alt="" />
    </div>
    <div class="figure-caption">
        <h3 class="float-right">
            @Model.Preco.ToString("c")
        </h3>
        <h4>@Model.Nome</h4>
        <p>@Model.DescricaoCurta</p>
    </div>
</div>
